body {
min-width: 357px;
overflow-x: hidden;
}

img {
margin: 5px;
border: 2px solid black;
vertical-align: middle;
width: 75px;
height: 75px;
}

#loading {
	text-align: center;
	color: #52cde7;
	margin: auto;
}

#apologize {
	text-align: center;
	color: #ff4444;
	margin: auto;
}